body {
    background: #fff;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

input, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.main-div, .loggedin-div {
    width: 20%;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
    display: none;
}

.main-div input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.main-div input:focus {
    border: 1px solid #777;
}

.main-div button, .loggedin-div button {
    background: #5d8ffc;
    color: #fff;
    border: 1px solid #5d8ffc;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:hover {
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;
}

.panControls {
    position: relative;
    margin: 40px 20px;
    text-align: center;
    width: 80px;
    height: 80px;

    background-color: #fff;
    box-shadow: 0px 1px 4px -1px rgba( 0, 0, 0, 0.3 );
    border-radius: 2px;

    transform: rotate(-45deg);
}
.panControls .panControl {
    width: 50%;
    height: 50%;
    -moz-user-select: none;
    cursor: pointer;
    box-shadow: 0px 1px 4px -1px rgba( 0, 0, 0, 0.3 );
}

.panControl {
    position: absolute;
}
.panControl img {
    opacity: 0.6;
}
.panControl:active img {
    opacity: 1;
}
.panControl.North {
    top: 0;
    left: 50%;
}

.panControl.North img {
    margin: 25% 25%;
}

.panControl.West {
    top: 0;
    left: 0;
}
.panControl.West img {
    margin: 25% 25%;
    transform: rotate( -90deg );
}
.panControl.East {
    top: 50%;
    left: 50%;
}
.panControl.East img {
    margin: 25% 25%;
    transform: rotate( 90deg );
}
.panControl.South {
    top: 50%;
    left: 0;
}
.panControl.South img {
    margin: 25% 25%;
    transform: rotate( -180deg );
}

.popup-tip-anchor {
    height: 0;
    position: absolute;
    /* The max width of the info window. */
    width: 200px;
}
/* The bubble is anchored above the tip. */
.popup-bubble-anchor {
    position: absolute;
    width: 100%;
    bottom: /* TIP_HEIGHT= */ 8px;
    left: 0;
}
/* Draw the tip. */
.popup-bubble-anchor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* Center the tip horizontally. */
    transform: translate(-50%, 0);
    /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
    width: 0;
    height: 0;
    /* The tip is 8px high, and 12px wide. */
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: /* TIP_HEIGHT= */ 8px solid white;
}
/* The popup bubble itself. */
.popup-bubble-content {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    /* Style the info window. */
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    overflow-y: auto;
    max-height: 60px;
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
