@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400italic,700,800");

html {
    background-color: #313a3d;
    background-attachment: fixed,						fixed;
    background-image: url("images/overlay.png"), url("../../images/hong_kong_skylight.jpg");
    background-position: top left,					center center;
    background-repeat: repeat,						none;
    background-size: auto,						cover;
}

html, body, section{
    height: 100%;
    overflow: hidden;
}

html{
    font-family: Raleway, Roboto, Times;
    padding-top: 5em;
}

p{
    font-size: 15pt; 
    text-align: justify; 
    text-align-last: center;
}


a:link    {
    /* Applies to all unvisited links */
    text-decoration: none;
} 
a:visited {
    /* Applies to all visited links */
    text-decoration:  underline;
    font-weight:      bold;
} 
a:hover   {
    /* Applies to links under the pointer */
    text-decoration:  underline;
    font-weight:      bold;
} 
a:active  {
    /* Applies to activated links */
    text-decoration:  underline;
    font-weight:      bold;
    color: white;
} 

#container{
    position: fixed;
    overflow-y: scroll; 
    overflow-x: hidden;
    width: 99.5%;
    height: 90%;
    text-align: center;
}

#header{ color: white;
    width: 40%;
    margin: 30vh auto 2em auto; 
    text-align: center;
}

#main{
    background: white;
    color: grey;
    width: 35%;
    margin: 70vh auto;
    padding: 0 2em;
}


#footer{
    background: white;
    color: grey;
}

#main > *{
    text-align: center;
    padding: 3em 1.5em;
    
}

#profile{
    width: 50%;
    margin: 5% 0%;
}

.sticky{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}


#navbar{
    background: transparent;
    text-align: center;
    overflow: visible;
    width: 100%;
    height: 5em;
    left: 0;
    margin-top: 1em;
    color: white
}

.navigation_button{
    background: transparent;
    border: transparent;
    border-radius: 1em;
    color: inherit;
    padding: .6em 3em .6em 3em;
    font-weight: bold;
    font-size: 14pt;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.navigation_button:hover{
    background: rgba(0,0,0,0.1);
}


::-webkit-scrollbar-track
{
    border-radius: 10px;
    background: rgba(255,255,255,.3);
}

::-webkit-scrollbar
{
    display: none;
    width: 8px;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background:white;
}

::-webkit-scrollbar-corner
{
    background: transparent;
}
